<!-- 
<div class="wrapper">
  <div class="img-conteiner">
      <img src="../../../assets/images/logo.jpg"/>     
  </div>
    <ui-carousel [infinite]="true" [fade]="true" [speed]="1000" height="100%" width="100%">
        <ui-carousel-item>
            <img src="assets/images/home1.jpg" alt="" draggable="false">
        </ui-carousel-item>
        <ui-carousel-item>
            <img src="assets/images/home2.jpg" alt="" draggable="false">
        </ui-carousel-item>
        <ui-carousel-item>
            <img src="assets/images/home3.jpg" alt="" draggable="false">
        </ui-carousel-item>
    </ui-carousel>
   <div class="button">Code source</div> 
</div>
 -->
