<div *ngIf="form">
  <mat-card>
    <mat-card-title>EDIT CAR TYPE :</mat-card-title>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-card-content>

        <div fxLayout="row wrap">

          <div class="mb-1">
            <mat-form-field style="width: 100%">
              <input matInput placeholder="manufacturerName" formControlName="manufacturerName">
            </mat-form-field>
            <small *ngIf="form.controls['manufacturerName'].hasError('required') && form.controls['manufacturerName'].touched" class="mat-text-warn">You must include a Manufacturer Name.</small>
            <small *ngIf="form.controls['manufacturerName'].hasError('minlength') && form.controls['manufacturerName'].touched" class="mat-text-warn">Manufacturer Name name must be at least 3 characters long.</small>
            <small *ngIf="form.controls['manufacturerName'].hasError('maxlength') && form.controls['manufacturerName'].touched" class="mat-text-warn">Manufacturer Name name cannot exceed 15 characters.</small>
          </div>

          <div class="mb-1">
            <mat-form-field style="width: 100%">
              <input matInput placeholder="model" formControlName="model">
            </mat-form-field>
            <small *ngIf="form.controls['model'].hasError('required') && form.controls['model'].touched" class="mat-text-warn">You must include a Model.</small>
            <small *ngIf="form.controls['model'].hasError('minlength') && form.controls['model'].touched" class="mat-text-warn">Model name must be at least 2 characters long.</small>
            <small *ngIf="form.controls['model'].hasError('maxlength') && form.controls['model'].touched" class="mat-text-warn">Model name cannot exceed 10 characters.</small>
          </div>

          <div class="mb-1">
            <mat-form-field style="width: 100%">
              <input appOnlyNumbers matInput placeholder="dailyCost" formControlName="dailyCost">
            </mat-form-field>
            <small *ngIf="form.controls['dailyCost'].hasError('required') && form.controls['dailyCost'].touched" class="mat-text-warn">You must include a Daily Cost.</small>
            <small *ngIf="form.controls['dailyCost'].hasError('min') && form.controls['dailyCost'].touched" class="mat-text-warn">Your Daily Cost must be between 100 and 9999.</small>
            <small *ngIf="form.controls['dailyCost'].hasError('max') && form.controls['dailyCost'].touched" class="mat-text-warn">Your Daily Cost must be between 100 and 9999.</small>
          </div>

          <div class="mb-1">
            <mat-form-field style="width: 100%">
              <input matInput placeholder="costOfDayOverdue" formControlName="costOfDayOverdue">
            </mat-form-field>
            <small *ngIf="form.controls['costOfDayOverdue'].hasError('required') && form.controls['costOfDayOverdue'].touched" class="mat-text-warn">You must include a Cost Of Day Overdue.</small>
            <small *ngIf="form.controls['costOfDayOverdue'].hasError('min') && form.controls['costOfDayOverdue'].touched" class="mat-text-warn">Your Cost Of Day Overdue must be between 100 and 9999.</small>
            <small *ngIf="form.controls['costOfDayOverdue'].hasError('max') && form.controls['costOfDayOverdue'].touched" class="mat-text-warn">Your Cost Of Day Overdue must be between 100 and 9999”.</small>
          </div>

          <div class="mb-1">
            <mat-form-field>
              <mat-select placeholder="manufactureYear" formControlName="manufactureYear">
                <mat-option *ngFor="let year of manufactureYearsToDrop" [value]="year">
                  {{year}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <small *ngIf="form.controls['manufactureYear'].hasError('required') && form.controls['manufactureYear'].touched" class="mat-text-warn">You must include a Manufacture Year.</small>            
          </div>
        </div>

        <div fxLayout="row wrap">
          <div class="mb-1">
            <mat-checkbox matInput placeholder="isAutoGear" formControlName="isAutoGear">isAutoGear?</mat-checkbox>
          </div>
        </div>

      </mat-card-content>
      <hr>
      <mat-card-actions class="px-1">
        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">ADD CAR TYPE</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>