.top-count{
    text-align: center;
    font-size: 100px;
    font-weight: bold;    
}
.top-title{
    font-weight: bold;    
}

.private-card-top{
    margin-top: 30px;
    min-height: 150px;
}

.pricing-plan{
    text-align: center;  
    min-width: 250px;  
}

.between-date{
    text-align: center;
    font-size: 30px;
    font-weight: bold;   
}