<mat-card class="example-card">
  
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-actions>
    <button mat-button (click)="GoToCarRental()">הזמנת רכב</button>
  </mat-card-actions></mat-card>

<mat-card class="example-card">
  
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-actions>
    <button mat-button (click)="GoToCarList()">רשימת רכבים</button>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card">
  
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-actions>
    <button mat-button (click)="GoToOrderListByUser()">הזמנות קודמות</button>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card">
  
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-actions>
    <button mat-button (click)="GoToEditUser()">עריכת פרטים</button>
  </mat-card-actions>
</mat-card>