<div *ngIf="car">
    <mat-card class="pa-0" *ngIf="car">
      <div fxLayout="row wrap" fxLayoutAlign=" stretch" class="mb-1">
        <div fxFlex.gt-md="40" fxFlex.gt-sm="50" fxFlex="100">
          <div class="card-image-header product-image-header" style="background-image: url(assets/images/home4.jpg); background-position: top;"></div>
        </div>
        <div fxFlex.gt-md="60" fxFlex.gt-sm="50" fxFlex="100" class="pa-1">
          <div class="product-detail-header">
            <h1 class="ma-0 pa-0">
              <strong>{{car.carType.manufacturerName}}</strong>
            </h1>
            <h2 class="mat-text-muted ma-0 pa-0">{{ car.carType.model }}</h2>
            <h3 class="mat-text-muted ma-0 pa-0">{{ car.carType.manufactureYear }}</h3>
  
          </div>
          <br/>
  
          <div class="description">
            <p>Yuor start rent: {{startRent | date: 'dd.MM.yyyy'}}</p>
            <p>Yuor end rent: {{endRent | date: 'dd.MM.yyyy'}}</p>
          </div>
  
          <h4 class="mat-text-primary mt-1">
            <span> {{ car.carType.dailyCost | currency }}</span>
            <span class="text-xm mat-text-muted">&nbsp;&nbsp;-&nbsp;&nbsp; Daily cost</span>
          </h4>
          <h2 class="mat-text-primary mt-1">
            <span> {{ car.carType.dailyCost*rentDays | currency }}</span>
            <span class="text-xm mat-text-muted">&nbsp;&nbsp;-&nbsp;&nbsp; Total rental cost for {{rentDays}} days.</span>
          </h2>
  
          <br/>
          <br/>
          <br/>
  
          <button mat-raised-button color="accent" class="mr-1" (click)="closeOrder()">CLOSE ORDER</button>
          <button mat-raised-button color="primary" class="mr-1" (click)="returnToSearchCar()">TO CAR RETURN TABLE</button>
        </div>
      </div>
  
     
    </mat-card>
  </div>